:root{
  --color-bg:#ffefe5;
  --color-black:#272928;
  --color-grey: #B2B2B2;
  --color-text: #181818;
  --color-primary: #1fc8a9;
  --color-link:#8758FF;
}
html.dark {
  --color-bg:#3A3845;
  --color-text: #F9F9F9;
  --color-primary: #ea2433;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--color-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

span{
  color: var(--color-text);
}
p{
  color: var(--color-grey);
}

input{
  outline: none;
  border: none;
}

list{
  list-style: none;
}

button{
  outline: none;
  border: none;
  background-color: inherit;
  cursor: pointer;
}